{% extends 'base_auth.html' %}
{% load static %}

{% block content_body %}
  <main class="geex-content">
    <div class="geex-content__authentication">
      <div class="geex-content__authentication__content">
        <div class="geex-content__authentication__content__wrapper">
          <div class="geex-content__authentication__content__logo">
            <a href="index.html"><h1 class="geex-content__authentication__title fs-1">Welcome, Musikero ♫</h1></a>
          </div>

          <!-- Display error messages here -->
          {% if messages %}
            <ul class="form-errors mb-20">
              {% for message in messages %}
                <li class="text-danger">{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}

          <form id="loginForm" class="geex-content__authentication__form" method="POST">
            {% csrf_token %}
            <h2 class="geex-content__authentication__title">Sign In to Your Account 👋</h2>
            <div class="geex-content__authentication__form-group">
              <label for="emailSignIn">Your Username</label>
              <input type="text" id="emailSignIn" name="email" placeholder="Enter Your Email" required />
              <i class="uil-envelope"></i>
            </div>
            <div class="geex-content__authentication__form-group">
              <div class="geex-content__authentication__label-wrapper">
                <label for="loginPassword">Your Password</label>
                <a href="#">Forgot Password?</a>
              </div>
              <input type="password" id="loginPassword" name="password" placeholder="Password" required />
              <i class="uil-eye toggle-password-type"></i>
            </div>
            <div class="geex-content__authentication__form-group custom-checkbox">
              <input type="checkbox" class="geex-content__authentication__checkbox-input" id="rememberMe" />
              <label class="geex-content__authentication__checkbox-label" for="rememberMe">Remember Me</label>
            </div>
            <button type="submit" class="geex-content__authentication__form-submit">Sign In</button>
            <span class="geex-content__authentication__form-separator">Or</span>
            <div class="geex-content__authentication__form-social">
              <a href="#" class="geex-content__authentication__form-social__single">
                <img src="{% static 'assets/img/icon/google.svg' %}" alt="Google" />Google
              </a>
            </div>
            <div class="geex-content__authentication__form-footer">
              Doesn't have any account? <a href="{% url 'signup' %}">Sign Up</a>
            </div>
          </form>
        </div>
      </div>
      <div class="geex-content__authentication__img">
        <img src="{% static 'assets/img/authentication.svg' %}" alt="Authentication Illustration" />
      </div>
    </div>
  </main>
{% endblock %}
