{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}
  Cards Actions- UI elements
{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/spinkit/spinkit.css' %}" />
{% endblock %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/block-ui/block-ui.js' %}"></script>
  <script src="{% static 'vendor/libs/sortablejs/sortable.js' %}"></script>
{% endblock %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/cards-actions.js' %}"></script>
{% endblock %}
{% block content %}

<!-- Draggable Cards -->
<h5 class="pb-1 mb-6">Recently Played</h5>
<div class="row g-6" id="sortable-4">
  <div class="col-md-6 col-xl-2">
    <div class="card bg-primary text-white">
      <div class="card-header cursor-move text-white">Drag me!</div>
      <div class="card-body">
        <h5 class="card-title text-white">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-2">
    <div class="card bg-secondary text-white">
      <div class="card-header cursor-move text-white">Drag me!</div>
      <div class="card-body">
        <h5 class="card-title text-white">Secondary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-2">
    <div class="card bg-success text-white">
      <div class="card-header cursor-move text-white">Drag me!</div>
      <div class="card-body">
        <h5 class="card-title text-white">Success card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-2">
    <div class="card bg-danger text-white">
      <div class="card-header cursor-move text-white">Drag me!</div>
      <div class="card-body">
        <h5 class="card-title text-white">Danger card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-2">
    <div class="card bg-warning text-white">
      <div class="card-header cursor-move text-white">Drag me!</div>
      <div class="card-body">
        <h5 class="card-title text-white">Warning card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up.</p>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-xl-2">
    <div class="card bg-info text-white">
      <div class="card-header cursor-move text-white">Drag me!</div>
      <div class="card-body">
        <h5 class="card-title text-white">Info card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up.</p>
      </div>
    </div>
  </div>
</div>
<!-- / Draggable Cards -->
 
{% endblock %}
