{% extends layout_path %}

{% load i18n %}

{% block title %}
  Page 1 - Starter Kit
{% endblock %}

{% block content %}
  <div class="col-12 ">
    <div class="card mb-6">
      <h5 class="card-header">Video Selection</h5>
      <div class="card-body">
        <div class="row mt-4">
          <div class="d-grid gap-2 col-lg-6 mx-auto">
            <a href="{% url 'yt-download' %}" class="btn btn-primary btn-lg waves-effect waves-light">Download Video</a>
            <small class="text-light fw-medium text-center py-2">or</small>
            <label for="upload" class="btn btn-secondary btn-lg waves-effect waves-light" tabindex="0">
                <span class="d-none d-sm-block">Upload Video</span>
                <i class="ti ti-upload d-block d-sm-none"></i>
                <input type="file" id="upload" class="account-file-input" hidden accept="video/mp4" />
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
