{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}
 My Videos
{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/spinkit/spinkit.css' %}" />
{% endblock %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/block-ui/block-ui.js' %}"></script>
  <script src="{% static 'vendor/libs/sortablejs/sortable.js' %}"></script>
{% endblock %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/cards-actions.js' %}"></script>
{% endblock %}

{% block content %}
  <div class="card mb-6 flex-row justify-content-between">
    <h5 class="card-header text-center">New Video</h5>
    <div class="col-lg-4 p-6">
      <div class="d-flex gap-5 justify-content-end">
        <a href="{% url 'yt_search' %}" class="btn btn-danger waves-effect waves-light"><span class="ti-xs ti ti-brand-youtube me-2"></span>Youtube</a>
        <label for="upload" class="btn btn-secondary waves-effect waves-light" tabindex="0">
            <span class="ti-xs ti ti-upload me-2"></span>
            <span class="d-none d-sm-block">Upload</span>
            <i class="ti ti-upload d-block d-sm-none"></i>
            <input type="file" id="upload" type="file" class="account-file-input" hidden accept="video/mp4" />
        </label>
      </div>
    </div>
  </div>

  <!-- Hoverable Table rows -->
<div class="card">
    <h5 class="card-header">Saved Videos</h5>
    <div class="table-responsive text-nowrap">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Date</th>
            <th>Source</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          {% for video in videos %}
          <tr>
            <td><i class="ti ti-brand-bootstrap ti-md text-primary me-4"></i> <span class="fw-medium">{{video.title}}</span></td>
            <td>{{video.artist}}</td>
            <td>{{video.created_at}}</td>
            <td>
              {% if video.source_type == "youtube" %}
                <span class="badge bg-label-danger me-1">{{video.source_type|capfirst}}</span></td>
              {% else %}
              <span class="badge bg-label-warning me-1">{{video.source_type|capfirst}}</span></td>
              {% endif %}
            <td>
              <div class="dropdown">
                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"><i class="ti ti-dots-vertical"></i></button>
                <div class="dropdown-menu">
                  {% if video.source_type == "youtube" %}
                    <a class="dropdown-item" href="{% url 'application_yt' video.video_id %}"><i class="ti ti-square-rounded-plus me-1"></i>Create Project</a>
                  {% endif %}
                  <a class="dropdown-item" href="javascript:void(0);"><i class="ti ti-trash me-1"></i> Delete</a>
                </div>
              </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!--/ Hoverable Table rows -->
  
{% endblock %}
