{% extends 'base_core.html' %}
{% load static %}

{% block title %}
Setup (Q&A)
{% endblock %}

{% block subtitle %}
{% endblock %}

{% block content %}

<div class="center-container">
    <div class="text-container">
        <h2 class="center-text">What is your instrument?</h2>
    </div>
    
    <div class="input-container">
        <input type="text" name="instrument" placeholder="Your instrument" required class="transparent-input">
    </div>
    
    <div class="text-container">
        <h2 class="center-text">What is your genre in music?</h2>
    </div>
    
    <div class="input-container">
        <input type="text" name="genre" placeholder="Your genre" required class="transparent-input">
    </div>
    
    <div class="text-container">
        <h2 class="center-text">What is your level in playing?</h2>
    </div>
    
    <div class="input-container">
        <select name="level" required class="transparent-dropdown">
            <option value="" disabled selected>Select your level</option>
            <option value="beginner">Beginner</option>
            <option value="intermediate">Intermediate</option>
            <option value="advanced">Advanced</option>
        </select>
    </div>
</div>

{% endblock %}

